@tailwind base;
@tailwind components;
@tailwind utilities;

.image-fluid{
  width: 100vw;
  height:100vh;
}
/* body{
  margin: 0;
  padding: 0;

  
  background-image: url("./assets/mohammad-metri-1oKxSKSOowE-unsplash.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
} */

